body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: champagne;
  src: url("./assets/fonts/Champagne & Limousines.ttf");

  font-family: lemonmilk-regular;
  src: url("./assets/fonts/LemonMilklight.otf");
}

h1 {
  font-family: lemonmilk-regular;
}
